html {
	font-size: 16px;
}

body {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.03rem;
	margin: 0;
	padding: 0;

	* {
		box-sizing: border-box;
	}

	h1 {
		strong {
			color: #FBD106;
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:active, &:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	p {
		> a {
			&:hover, &:active, &:focus {
				text-decoration: underline;
			}
		}
	}

	.slick-active.white-menu header {
		color: white
	}
}
